.row {
  /* Flexbox */

  &--border-right {
    border-right: 1px solid #cfd3d9;
  }

  &--t-padding {
    padding-top: 80px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atSmall {
    &--flex-at-small {
      display: flex;
    }

    &__small-6 {
      flex: 6;
    }
  }

  @mixin atMedium {
    &--flex-at-medium {
      display: flex;
    }

    &__medium-4 {
      flex: 4;
    }

    &__medium-4--larger {
      flex: 5;
    }

    &__medium-4--border-right {
      border-right: 1px solid #cfd3d9;
    }

    &__medium-6 {
      flex: 6;
    }

    &__medium-8 {
      flex: 8;
    }

    &__medium-8--smaller {
      flex: 7;
    }

    &__b-margin-until-medium {
      margin-bottom: 0;
    }
  }

  @mixin atLarge {
    &--flex-at-large {
      display: flex;
    }

    &__large-4 {
      flex: 4;
    }

    &__large-4--larger {
      flex: 5;
    }

    &__large-6 {
      flex: 1;
    }

    &__large-8 {
      flex: 8;
    }

    &__large-8--smaller {
      flex: 7;
    }

    &__b-margin-until-large {
      margin-bottom: 0;
    }
  }

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
